# Práctica 3 - GitHub Actions (dummy)
#
# Punto de partida: workflow mínimo para validar que Actions funciona en el repo.
# En la Práctica 3 irás ampliando este workflow para llegar a CI/CD.

name: CI (dummy)

on: ## Event triggers (on:): cuándo se ejecuta (push, PR, manual, schedule, etc.).
  push: ## El workflow se ejecutará cada vez que alguien suba código (haga un git push) a cualquier rama del repositorio
  pull_request:
    branches: [develop, master] ##El workflow solo se activará si se abre (o se actualiza) un Pull Request que tenga como objetivo las ramas develop o master.
  workflow_dispatch: ##Clic manual en la web
    inputs:
      RUN_CD:
        description: "Run CD stage"
        required: false
        type: boolean
        default: false

jobs: ##Jobs: unidades de ejecución paralelizables (jobs.<job_id>).
  dummy:
    runs-on: ubuntu-latest
    steps: ## Steps: comandos o acciones dentro de un job.
      - name: Mostrar contexto
        run: |
          echo "Repo: $GITHUB_REPOSITORY"
          echo "Ref:  $GITHUB_REF"
          echo "Branch: $GITHUB_REF_NAME"
